NEXT_PUBLIC_GRAPHQL_ENDPOINT="http://localhost:3001/api/dev"
IMAGE_DOMAINS="backend.reachdigital.dev,media.graphcms.com"
NEXT_PUBLIC_LOCALE_STORES='{"nl": "nl_NL", "fr-be": "fr_BE", "nl-be": "nl_BE", "us": "en_US", "en-gb": "en_GB", "eu": "en_EU"}'
NEXT_PUBLIC_SITE_URL="https://graphcommerce.vercel.app"
NEXT_PUBLIC_GTM_ID="GTM-000000"
NEXT_PUBLIC_UA_TRACKING_ID="UA-000000-1"
NEXT_PUBLIC_DISPLAY_INCL_TAX="nl,fr-be,nl-be,en-gb,eu"
