/* Copy of https://github.com/magento/pwa-studio/blob/develop/packages/venia-concept/src/index.css */

.MagentoDynamic {
  box-sizing: border-box;
  --venia-anim-bounce: cubic-bezier(0.5, 1.8, 0.9, 0.8);
  --venia-anim-in: cubic-bezier(0, 0, 0.2, 1);
  --venia-anim-out: cubic-bezier(0.4, 0, 1, 1);
  --venia-anim-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --venia-background-color: 255, 255, 255;
  --venia-border: 224, 224, 224;
  --venia-error: 192, 18, 63;
  --venia-error-alt: 255, 226, 234;
  --venia-font: Muli, -apple-system, BlinkMacSystemFont, sans-serif;
  --venia-grey: 246, 246, 246;
  --venia-grey-dark: 209, 209, 209;
  --venia-grey-darker: 112, 112, 112;
  --venia-orange: 241, 99, 33;
  --venia-teal: 0, 115, 120;
  --venia-teal-alt: 224, 240, 241;
  --venia-teal-dark: 0, 104, 108;
  --venia-teal-light: 212, 243, 238;
  --venia-text: 33, 33, 33;
  --venia-text-alt: var(--venia-grey-darker);
  --venia-text-hint: 158, 158, 158;
  --venia-text-spot: 255, 99, 51;
  --venia-warning-dark: 249, 93, 94;
  --venia-warning-light: 254, 229, 232;

  /* html */
  background-color: white;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* body */
  background-color: white;
  color: rgb(var(--venia-text));
  margin: 0;
  padding: 0;

  font-family: var(--venia-font);
}

.MagentoDynamic h1,
.MagentoDynamic h2,
.MagentoDynamic h3,
.MagentoDynamic h4,
.MagentoDynamic h5,
.MagentoDynamic h6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.MagentoDynamic h1 {
  font-size: 1.5rem;
}

.MagentoDynamic h2 {
  font-size: 1.25rem;
}

.MagentoDynamic a {
  color: currentColor;
  text-decoration: none;
}

.MagentoDynamic p {
  margin: 0;
}

.MagentoDynamic dl,
.MagentoDynamic ol,
.MagentoDynamic ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.MagentoDynamic dd,
.MagentoDynamic dt {
  margin: 0;
}

.MagentoDynamic button {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: var(--venia-font);
  font-size: 100%;
  padding: 0;
  touch-action: manipulation;
  user-select: none;
  -webkit-appearance: none;
}

.MagentoDynamic button:disabled {
  cursor: default;
  touch-action: none;
}
