# GraphQL Mesh: The public endpoint of GraphCMS
GRAPHCMS_URL="https://api-eu-central-1.graphcms.com/v2/ckhx7xadya6xs01yxdujt8i80/master"

# GraphQL Mesh: The public endpoint of Magento 2
MAGENTO_ENDPOINT="https://backend.reachdigital.dev/graphql"

# The URL where your local GraphQL endpoint is available
NEXT_PUBLIC_GRAPHQL_ENDPOINT="http://localhost:3000/api/graphql"

# Comma separated list of image domains used by next/image https://nextjs.org/docs/api-reference/next/image#domains
IMAGE_DOMAINS="backend.reachdigital.dev,media.graphcms.com,media.graphassets.com"

# A JSON object of NextJS locales and store_view mapping of Magento.
# Used to connect to the correct GraphQL endpoint and to enable proper store switching.
NEXT_PUBLIC_LOCALE_STORES='{"en-us": "en_US", "nl": "nl_NL", "fr-be": "fr_BE", "nl-be": "nl_BE", "en-gb": "en_GB", "en-ca": "en_CA"}'

# Used as a base URL to generate the sitemaps and canonical url.
NEXT_PUBLIC_SITE_URL="https://graphcommerce.vercel.app/"

# Google TagManager ID
NEXT_PUBLIC_GTM_ID=""

# Google Analytics v4 ID
NEXT_PUBLIC_GOOGLE_ANALYTICS=""

# Google ReCaptcha V3 Site Key
NEXT_PUBLIC_GOOGLE_RECAPTCHA_V3_SITE_KEY=""

# For 
NEXT_PUBLIC_DISPLAY_INCL_TAX="nl,fr-be,nl-be,en-gb,eu"

# To enable NextJS's preview mode go to: https://domain.com/api/preview?secret=YOUR_PREVIEW_SECRET
PREVIEW_SECRET='dya6xs01y'
