# dependencies
node_modules

# next.js
.next/
out/
.vercel
next-env.d.ts
._tmp*
.swc

# misc
.DS_Store
.env*
!.env.example

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# application
**/public/workbox-*.js*
**/public/sw.js*
**/public/sitemap*.xml
**/public/robots.txt

*.gql.ts

# application
.mesh
*.tsbuildinfo

# managed by: graphcommerce
pages/.well-known/assetlinks.json.tsx
pages/account/downloads.tsx
pages/account/payment-tokens.tsx
pages/downloadable/download/link/id/\[id\].tsx
pages/downloadable/download/linkSample/link_id/\[id\].tsx
pages/downloadable/download/sample/sample_id/\[id\].tsx
pages/test/\[\[...url\]\].tsx
pages/test/buttons.tsx
pages/test/form-elements.tsx
pages/test/icons.tsx
pages/test/minimal-page-shell/\[\[...url\]\].tsx
pages/test/number-inputs.tsx
pages/test/sheet.tsx
pages/test/slider.tsx
pages/test/typography.tsx
pages/test/usebacklink/\[\[...url\]\].tsx
# end managed by: graphcommerce
