name: pr-analysis
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
jobs:
  knip:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 18
      - run: yarn install
      - run: cd examples/magento-graphcms && yarn codegen && cd ../..
      - uses: codex-/knip-reporter@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  bundlesize:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
        with:
          path: new
      - uses: actions/checkout@v4
        with:
          path: old
          ref: ${{ github.base_ref }}
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
          scope: '@graphcommerce'
          cache-dependency-path: ./old/yarn.lock
      - run: cd new && yarn install && cd ..
      - run: cd new/examples/magento-graphcms && yarn build > ../../../new.txt && cd ../../..
      - run: cat new.txt
      - run: cd old && yarn install && cd ..
      - run: cd old/examples/magento-graphcms && yarn build > ../../../old.txt && cd ../../..
      - run: cat old.txt
      - uses: ho-nl/next-bundlesize-action@master
        id: 'bundlesize'
      - uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: steps.bundlesize.outputs.diff != ''
        with:
          msg: ${{steps.bundlesize.outputs.diff}}
          check_for_duplicate_msg: false
