name: Periodic build
on:
  schedule:
    - cron: 0 0 * * *
concurrency:
  group: release-main
jobs:
  notify-start:
    name: Notify release start
    uses: ho-nl/release-slack-action/.github/workflows/notify-slack-start.yml@main
    secrets:
      slackToken: ${{ secrets.SLACK_BOT_RELEASE_TOKEN}}
    with:
      channel: graphcommerce
      message: Graphcommerce start building
      notifyOnlyOnFailure: true
  publish:
    runs-on: ubuntu-latest
    outputs:
      published: ${{ steps.changesets.outputs.published }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          cache: yarn
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
          scope: '@graphcommerce'
      - name: create graphcommerce folder
        run: |
          git clone -b main --depth 1 https://github.com/graphcommerce-org/graphcommerce.git && mkdir -p  /tmp/graphcommerce-build
      - name: copy gc main to new folder
        run:  cp -R graphcommerce/examples/magento-graphcms/. tmp/graphcommerce-build && rm -rf graphcommerce && cd /tmp/graphcommerce-build
      - name: yarn && yarn build
        run: |
          yarn && yarn codegen && yarn build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  notify-end:
    if: always()
    name: Notify release end
    needs: [notify-start, publish]
    uses: ho-nl/release-slack-action/.github/workflows/notify-slack-end.yml@main
    secrets:
      slackToken: ${{ secrets.SLACK_BOT_RELEASE_TOKEN}}
    with:
      time: ${{ needs.notify-start.outputs.time }}
      result: ${{ needs.publish.result }}
      channel: graphcommerce
      message: Periodic build
      notifyOnlyOnFailure: true